# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db
*.db-journal
google_credentials.json
test_*.py

# Node.js
node_modules/
dist/
.angular/
frontend/src/environments/environment.ts
frontend/src/environments/environment.prod.ts

# OS
.DS_Store
