@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #111827;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4B5563;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #111827;
    /* Dark background */
    color: #F9FAFB;
    /* Light text */
}